# Node modules
node_modules/

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# TypeScript specific
dist/
build/
*.tsbuildinfo

# Temporary and cache files
*.tmp
*.temp
.cache/

# IDE or editor specific folders/files
.vscode/
.idea/
*.swp

# OS specific files
Thumbs.db
.DS_Store
